<h1 class="title is-2 center">All policies</h1>
<table class="policy-list table is-hoverable">
  <tr>
    <th>Name</th>
    <th>Document</th>
    <th>Email</th>
    <th>Vehicle Brand</th>
    <th>Vehicle Model</th>
    <th>Vehicle Year</th>
    <th>Vehicle Plate</th>
    <th>Effective from</th>
    <th>Effective Until</th>
  </tr>
  <% if policies.length > 0 %>
  <% policies.each do |policy| %>
    <tr>
      <% if policy[:insuredPerson] %>
        <td><%= policy[:insuredPerson][:name] || 'N/A' %></td>
        <td><%= policy[:insuredPerson][:document] || 'N/A' %></td>
        <td><%= policy[:insuredPerson][:email] || 'N/A' %></td>
      <% else %>
        <td> N/A </td>
        <td> N/A </td>
        <td> N/A </td>
      <% end %>

      <% if policy[:vehicle] %>
        <td><%= policy[:vehicle][:brand] || 'N/A' %></td>
        <td><%= policy[:vehicle][:vehicleModel] || 'N/A' %></td>
        <td><%= policy[:vehicle][:year] || 'N/A' %></td>
        <td><%= policy[:vehicle][:licensePlate] || 'N/A' %></td>
      <% else %>
        <td> N/A </td>
        <td> N/A </td>
        <td> N/A </td>
        <td> N/A </td>
        <td> N/A </td>
      <% end %>

        <td><%= policy[:effectiveFrom] || 'N/A' %></td>
        <td><%= policy[:effectiveUntil] || 'N/A' %></td>
      <% end %>
    </tr>
    <% else %>
      <tr>
        <td> No policies </td>
      </tr>
    <% end %>
</table>
